---
import './src/styles/global.css'

const {title = 'Gino Cotos'} = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/gcFavi.svg" />
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" /> <!-- AOS CSS -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    
    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js" defer></script>
    
    <script>
      // Asegúrate de que el objeto AOS esté completamente cargado
      window.addEventListener('load', function() {
        if (typeof window.AOS !== "undefined") {
          window.AOS.init({
            duration: 1000,  // duración de la animación
            once: true       // solo animar una vez
          });
        }
      });
    </script>
  </body>
</html>
