---
import './src/styles/global.css'

const { title = 'Gino Cotos' } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon1.png" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-zinc-800 text-white font-sans md:grid-cols-2">
		<nav>
			<slot name="nav" />
		</nav>
		<main>
			<section>
				<slot name="hero"/>
			</section>
			<section>
				<slot name="sobre-mi"/>
			</section>
			<section>
				<slot name="proyectos"/>
			</section>
			<section>
				<slot name="contacto"/>
			</section>
		</main>
		<footer>
			<slot name="footer"/>
		</footer>
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
		<script>
			AOS.init();
		</script>
		</body>
	</html>

